<div class="container-fluid mt-3">
  <div class="row">
    <!---------------------------------------Input-------------------------->
    <div class="col-sm-5 mt-5">
      <div class="card-body left-form-container">
        <mat-card [class.mat-elevation-z8]>
          <form [formGroup]="addSupervisorForm" (ngSubmit)="onSubmit()">
          <h3 style="font-family:sans-serif;color: black;"><strong>Add New Supervisor</strong></h3>
            <!-- sub-zone/division -->
            <ng-container>
              <div class="row">
              <div class="col-4">
                <mat-label>First Name<small style="color: red;">*</small></mat-label>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First Name"
                  formControlName="fname" (keypress)="space($event);letterOnly($event)" style="text-transform: capitalize;"
                />
                <mat-error *ngIf="f['fname'].hasError('required')"> Please Enter First  Name</mat-error>
              </mat-form-field>
              </div>
              <div class="col-4">
                <mat-label>Middle Name<small style="color: red;">*</small></mat-label>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Middle Name</mat-label>
                  <input matInput placeholder="Middle Name"
                    formControlName="mname" (keypress)="space($event);letterOnly($event)" style="text-transform: capitalize;"
                  />
                  <mat-error *ngIf="f['mname'].hasError('required')"> Please Enter Middle Name</mat-error>
                </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-label>Last Name<small style="color: red;">*</small></mat-label>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name"
                      formControlName="lname" (keypress)="space($event);letterOnly($event)" style="text-transform: capitalize;"
                    />
                    <mat-error *ngIf="f['lname'].hasError('required')"> Please Enter Last Name</mat-error>
                  </mat-form-field>
                  </div>
            </div>
            </ng-container>
            <ng-container>
              <div class="row">
              <div class="col-6">
                <mat-label>Mobile No<small style="color: red;">*</small></mat-label>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Mobile No.</mat-label>
                <input matInput placeholder="First Name"
                  formControlName="fname" (keypress)="space($event);letterOnly($event)" style="text-transform: capitalize;"
                />
                <mat-error *ngIf="f['fname'].hasError('required')"> Please Enter First  Name</mat-error>
              </mat-form-field>
              </div>
              <div class="col-6">
                <ng-container>
                  <mat-label>Gender<small style="color: red;">*</small></mat-label><br>
                  <mat-radio-group aria-label="Select an option" formControlName="IsAsemblyBoothListApplicable">
                    <mat-radio-button *ngFor="let bothlist of isBothListArray" [value]="bothlist.id" class="form-data" value="0" style="margin-top: 1rem;">{{bothlist.name}}</mat-radio-button>
                  </mat-radio-group>
                  <ng-container *ngIf="addSupervisorForm.value.IsAsemblyBoothListApplicable">
                    <mat-error *ngIf="addSupervisorForm.controls['IsAsemblyBoothListApplicable'].hasError('required')">
                        Please Select Field.
                    </mat-error>
                </ng-container>
                </ng-container>
                </div>
            </div>
            </ng-container>

            <!-- country (India static) -->
            <ng-container>
              <div class="col-sm-12 mt-2">
                <div class="card-body left-form-container">
                  <mat-card [class.mat-elevation-z8]>
                    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                      <div class="row">
                        <div class="col-6">
                      <mat-label>Select Client<small style="color: red;">*</small></mat-label>
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-select
                          formControlName="electiontype"
                        >
                        <mat-option>Select Client</mat-option>
                        <mat-option *ngFor="let cli of client" value="{{cli.electionId}}">{{cli.electionName}}</mat-option>
                          <mat-option
                          >
                          </mat-option
                          >
                        </mat-select>
                        <mat-error *ngIf="f['electiontype'].hasError('required')"> Please select Election Type</mat-error>
                      </mat-form-field>
                      </div>
                        <div class="col-6">
                      <mat-label>Select Election<small style="color: red;">*</small></mat-label>
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Election Type</mat-label>
                        <mat-select
                          formControlName="electiontype"
                        >
                        <mat-option>Election Type</mat-option>
                          <mat-option
                          >
                          </mat-option
                          >
                        </mat-select>
                        <mat-error *ngIf="f['electiontype'].hasError('required')"> Please select Election Type</mat-error>
                      </mat-form-field>
                      </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <mat-label>Select Constituency<small style="color: red;">*</small></mat-label>
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Election Type</mat-label>
                        <mat-select
                          formControlName="electiontype"
                        >
                        <mat-option>Election Type</mat-option>
                          <mat-option
                          >
                          </mat-option
                          >
                        </mat-select>
                        <mat-error *ngIf="f['electiontype'].hasError('required')"> Please select Election Type</mat-error>
                      </mat-form-field>
                      </div>
                      </div>
                      <div class="row">
                        <div class="col-12"
                        ><mat-label>Select Booth(s)<small style="color: red;">*</small></mat-label>
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Election Type</mat-label>
                            <input matInput placeholder="Election Name"
                            >
                            <mat-error *ngIf="f['electiontype'].hasError('required')"> Please select Election Type</mat-error>
                          </mat-form-field>
                          </div>
                          </div>
                          <button mat-raised-button color="primary" style="margin-left: 25rem;">
                            Add
                          </button>
                      </form>
                      </mat-card>
                      </div>
                      </div>
<hr>
            <!-- <form [formGroup]="addForm">
              <div class="card card-body left-form-container" style="margin-top: 1rem;">
            <ng-container>
              <div class="card-body left-form-container" style="margin-top: -1rem;margin-left: -1rem;margin-right: 2rem">
                <mat-form-field appearance="outline" style="margin-bottom: -2rem;">
                  <mat-label>Select Sub Election</mat-label>
                  <mat-select
                    formControlName="subselection" [(ngModel)]="add.ElectionName">
                  <mat-option>Select Sub Election</mat-option>
                    <mat-option
                      *ngFor="let subelection of subselection"
                      [value]="subelection.ElectionName"
                    >
                      {{ subelection.ElectionName }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
                <button type="submit" class="btn btn-outline-primary btn-sm h-100"  (click)="Add()" style="margin-right: -3.1rem">Add</button>
              </div>
            </ng-container>
            <ng-container>
                <div class="form-group col-md mb-0">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"><small>Sr.No</small></th>
                        <th scope="col"><small>Sub Election Name</small></th>
                        <th scope="col"><small>Manage</small></th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let add of addnewArray;let SubElectionId = index">
                        <td>{{ SubElectionId + 1 }}</td>
                        <td>{{ add.ElectionName }}</td>
                        <td>
                          <button
                  mat-icon-button
                  matTooltip="Click to Delete"
                  class="iconbutton"
                  style="color: rgb(210, 25, 25)"
                >
                  <small><mat-icon aria-label="Delete"  (click)="OnDelete(SubElectionId)">delete</mat-icon></small>

                </button>
              </td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
            </ng-container>
          </div>
            </form> -->
          </ng-container>
            <section>
              <div
                style="margin-top: 20px; margin-left: 60px"
                class="example-button-row"
              >
                <button mat-raised-button color="warn" (click)="clearDivDistForm()" type="reset" style="margin-right: -7rem;">
                  Clear
                </button>
                <button
                  style="margin-left: 7px"
                  mat-raised-button
                  type="submit"
                  color="primary" style="margin-left: 22rem;"
                >
                  {{ editFlag?'update':'Submit' }}
                </button>
              </div>
            </section>
            <br /><br />
          </form>
        </mat-card>
      </div>
    </div>
    <!------------------------------------------------------------------------Table-------------------------------------------------------------------------->
    <div class="col-sm-7">
      <!-- <div class="card-header pb-0">
        <div class="form-container">
            <form [formGroup]="filterForm">
                <div class="row align-items-center">
                    <div class="col-sm-3">
                        <div class="">
                          <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Election Type</mat-label>
                                <mat-select
                                  formControlName="electiontype"
                                >
                                <mat-option>Election Type</mat-option>
                                  <mat-option
                                    *ngFor="let election of electionType"
                                    [value]="election.Id"
                                  >
                                    {{ election.ElectionType }}</mat-option
                                  >
                                </mat-select>
                                <mat-error *ngIf="f['electiontype'].hasError('required')"> Please select Election Type</mat-error>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Election/Sub-Election Name</mat-label>
                                <input matInput formControlName="searchtext" placeholder="Search">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <button mat-raised-button type="button" (click)="displayData()">
                            <mat-icon>search</mat-icon>Search
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div> -->
      <div class="card card-body left-form-container">
        <div class="form-group col-md mb-0">
          <table mat-table [dataSource]="dataSource"class="mat-elevation-z8">

             <!------------------ Sr.No.--------------------->
            <ng-container matColumnDef="srNo">
              <th mat-header-cell *matHeaderCellDef>
                <h4>Sr.No.</h4>
              </th>
              <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
            </ng-container>
            <!------------------ Election Name--------------------->
            <ng-container matColumnDef="supervisordetail">
              <th mat-header-cell *matHeaderCellDef>
                <h4>Supervisor Details</h4>
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.fullName }}
              </td>
            </ng-container>

            <!----------------------- Type ------------------------>
            <ng-container matColumnDef="boothname">
              <th mat-header-cell *matHeaderCellDef>
                <h4>Booth Name(Election Name / Constituency Name)</h4>
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.mobileNo }}
              </td>
            </ng-container>

            <!---------------------Manage Election--------------------->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>
                <h4>Action</h4>
              </th>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-icon-button
                  matTooltip="Click to Edit"
                  (click)="onEdit()"
                  class="iconbutton"
                  style="color: rgb(25, 37, 210)"
                >
                  <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  matTooltip="Click to Delete"
                  (click)="onDelete(element.Id)"
                  class="iconbutton"
                  style="color: rgb(210, 25, 25)"
                >
                  <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
            ></tr>
          </table>
      <!-- <ng-container *ngIf="dataSource?.length!=0">
          <mat-paginator [pageIndex]="10" [pageSizeOptions]="[10]" [length]="totalCount" [pageIndex]="currentPage"
          (page)="pageChanged($event)" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
        </ng-container> -->
        </div>
      </div>
    </div>
</div>
</div>
